.card {
  width: 323px;
  position: relative;
  height: 326px;
  justify-content: center;
  position: relative;
  display: flex;
  border-radius: 16px;
}

.card__name {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  background-color: white;
  font: 16px;
  margin: 0;
}

.card__name-container {
  display: flex;
  position: absolute;
  margin: 0;
  top: 16px;
  gap: 4px;
  align-items: center;
}

.card__notliked {
  background: transparent url("../../assets/button-notliked.svg") center no-repeat;
  cursor: pointer;
  width: 20px;
  height: 25px;
  border: none;  
}

.card__liked {
  background:  transparent url("../../assets/button-liked.svg") center no-repeat;
  cursor: pointer;
  width: 28px;
  height: 25px;
  border: none;
}

.card__image {
  width: 100%;
  border-radius: 16px;
}
