.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px 0;
}

.header__add-clothes-btn {
  margin: 0 20px 0 0;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__auth-btn{
  font-family: "CabinetGrotesk-Bold", sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__avatar {
  border-radius: 50%;
  width: 40px;
}

.header__logo {
  margin-right: 24px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  margin-right: 20px;
}

.header__user-icon {
  height: 40px;
  width: 40px;
  grid-area: e;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: "CabinetGrotesk-Regular", sans-serif;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__date-and-location {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  margin-right: auto;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__user-loggedin{
  display: flex;
}

.header__user-loggedout{
  display: flex;
  gap: 20px;
}