.modal__signup-link {
    font-family: "CabinetGrotesk-Bold", sans-serif;
    font-size: 16px;
    transition: 0.2s;
    position: relative;
    top: 40px;
    left: 140px;
    margin-bottom: -44px;
    width: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }